######################
## Hugo
#######################
public/

######################
## Intellij
#######################
.idea/
*.iml

#######################
## Visual Studio Code
#######################
.vscode/
.gradle/